body {
    font-size: 40px;
}

caption {
    font-family: sans-serif;
    font-weight: 800;
    border: 1px solid #000;
    border-bottom: none;
}

th, td {
    border: 1px solid #000;
    text-align: center; 
}

td {
    font-weight: 600;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

.day-off {
    color: red;
}