.logo {
  font-size: 22px;
}

.logo__fit {
  display: inline-block;
}

.logo__img {
  display: inline-block;
}

/* ========================== */

.header__inner {
  display: flex;
  gap: 10px;
  color: #2c332f;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
  border-bottom: 1px solid #d3cbd9;
}

.header__phone a {
  font-weight: 500;
  font-size: 18px;
  color: #2c332f;
  text-decoration: none;
  margin-left: 85px;
  transition: color .2s;
}

.header__phone a:hover {
  color: #3596ed;
}

.header__text {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.04em;
  color: #858e8a;
  margin-bottom: 5px;
}

/* =================================== */

.article {
  padding-top: 80px;
  padding-bottom: 120px;
}

.article-title {
  max-width: 596px;
  margin-bottom: 40px;
  font-family: Oswald;
  font-weight: 600;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
}

.article-title-large {
  font-size: 48px;
}

.article-title-medium {
  font-size: 36px;
}

.article-text {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
}

.article-text:last-child {
  margin-bottom: 0;
}

.article-mb-1 {
  margin-bottom: 80px;
}

.article-mb-2 {
  margin-bottom: 40px;
}

.article-decor-wrapper {
  position: relative;
}

.article-decor-wrapper::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: url("../images/decor-icon.svg") no-repeat;
  width: 528px;
  height: 48px;
}

.article-decor-wrapper-1::before {
  top: 100px;
  left: -350px;
}

.article-decor-wrapper-2::before {
  right: -350px;
  bottom: 136px;
}

.article-img,
.article-video {
  width: 100%;
}

.article-list {
  margin-top: 0;
  padding-left: 16px;
}

.article-item:not(:last-child) {
  margin-bottom: 12px;
}

.article-item::marker {
  font-size: 22px;
  color: #3596ed;
}

.article-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding: 0;
  background-color: #3596ed;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

/* ======================================== */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    background: linear-gradient(90deg, rgba(73, 169, 255, 0.2) 0%, rgba(252, 124, 217, 0.2) 100%);
}

.footer__list {
    display: flex;
    gap: 60px;
    font-size: 16px;
    line-height: 130%;
    color: #535755;
    padding: 40px 0px;
}

.footer__line {
    border: 1px solid #d3cbd9;
    width: 1920px;
    height: 0px;
}

.footer__copyright {
    display: flex;
    gap: 4px;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.04em;
    color: #858e8a;
    padding: 40px 0px;
}