html {
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

a:focus-visible,
button:focus-visible {
  outline: 2px solid #3596ed;
  outline-offset: 1px;
}

button:active {
  background-color: #2e81c9;
}
