.logo {
    font-size: 22px;
}

.logo__fit {
    display: inline-block;
}

.logo__img {
    display: inline-block;
}

/* ========================== */

.header__inner {
    display: flex;
    gap: 10px;
    color: #2c332f;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
    border-bottom: 1px solid #d3cbd9;
}

.header__phone a {
    font-weight: 500;
    font-size: 18px;
    color: #2c332f;
    text-decoration: none;
    margin-left: 85px;
    transition: color .2s;
}

.header__phone a:hover {
    color: #3596ed;
}

.header__text {
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.04em;
    color: #858e8a;
    margin-bottom: 5px;
}

/* ======================================== */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    background: linear-gradient(90deg, rgba(73, 169, 255, 0.2) 0%, rgba(252, 124, 217, 0.2) 100%);
}

.footer__list {
    display: flex;
    gap: 60px;
    font-size: 16px;
    line-height: 130%;
    color: #535755;
    padding: 40px 0px;
}

.footer__line {
    border: 1px solid #d3cbd9;
    width: 1920px;
    height: 0px;
}

.footer__copyright {
    display: flex;
    gap: 4px;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.04em;
    color: #858e8a;
    padding: 40px 0px;
}