.open-sans {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    font-style: italic;
}

.lt {
    text-decoration: line-through;
}

.transform {
    text-transform: uppercase;
    text-align: center;
}

.spacing {
    word-spacing: 30px;
    text-decoration: overline wavy;
    text-shadow: 1px 1px 2px purple;
}

.underlining {
    text-decoration: underline double;
    letter-spacing: 5px;
}