.brands {
    background: var(--main-color);
    margin-bottom: 72px;
}

.brands__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px clamp(1.875rem, 0.033rem + 7.86vw, 6.125rem);
    padding-block: 45px;
}

@media(width<=576px) {
    .brands {
        margin-bottom: 52px;
    }

    .brands__container {
        padding-block: 40px;
    }

    .brands__icon-1 {
        width: 117px;
        height: 24px;
    }

    .brands__icon-2 {
        width: 64px;
        height: 27px;
    }

    .brands__icon-3 {
        width: 110px;
        height: 26px;
    }

    .brands__icon-4 {
        width: 127px;
        height: 21px;
    }

    .brands__icon-5 {
        width: 135px;
        height: 22px;
    }
}