@import url(./reset.css);
@import url(./fonts.css);
@import url(./var.css);
@import url(./global.css);
@import url(./header.css);
@import url(./hero.css);
@import url(./brands.css);
@import url(./goods.css);
@import url(./your-style.css);  
@import url(./rewiews.css);  
@import url(./footer.css);  
@import url(./email-error.css);  