.html {
    font-family: "Montserrat", sans-serif;
}

.body {
    background: var(--bg-color);
    color: var(--main-color);
    min-width: 375px;
    min-height: 200vh;
    scroll-behavior: smooth;
    scroll-padding: 90px;
}

.container {
    max-width: 1240px;
    padding-inline: 15px;
    margin-inline: auto;
}

button {
    background: var(--bg-color);
}
