.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-block: 32px;
    background: var(--bg-color);
    transition: box-shadow .3s;
    z-index: 1;
}

.header--fixed {
    box-shadow: 0 0 20px 0 #181817;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    margin-right: 120px;
}

.header__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 233px;
    width: 100%;
}

.header__order {
    position: relative;
    font-weight: 400;
    font-size: 13px;
    line-height: 130%;
    color: var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
    padding: 0px 0px 5px;
}

.header__order::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(30px);
    width: 90%;
    min-height: 11px;
    background-color: var(--accent-color);
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s, visibility .3s;
}

.header__order:hover::before {
    opacity: 1;
    visibility: visible;
}

.header__action {
    display: flex;
    gap: 20px;
}

.header__action-icon {
    transition: stroke .3s;
}

.header__action-icon:hover {
    stroke: var(--accent-color);
}

.burger {
    display: none;
    z-index: 3;
}

/* =============================================== */

.menu {
    display: flex;
    gap: 30px;
    flex-grow: 1;
}

.menu__item {
    transition: color .3s;
    font-weight: 300;
    font-size: 13px;
    line-height: 130%;
    color: var(--main-color);
}

.menu__item:hover {
    color: var(--accent-color);
}

/* ======================================== */

.hero {
    padding-top: 100px;
}

.hero__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: clamp(21.875rem, 14.18rem + 32.83vw, 39.625rem);
}

.hero__title-img {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
}

.hero__list {
    position: absolute;
    left: 15px;
    top: 47%;
}

.hero__list-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--secondary-color);
}

.hero__title {
    font-weight: 600;
    font-size: clamp(3rem, 0.832rem + 9.25vw, 8rem);
    text-transform: uppercase;
    color: var(--main-color);
}

.hero__title-img {
    width: 70%;
    height: auto;
}

.hero__title-accent {
    color: transparent;
    -webkit-text-stroke: 3px var(--accent-color);
}

.hero__more {
    display: flex;
    align-items: center;
    gap: 15px;
    position: absolute;
    right: 15px;
    bottom: 22px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--main-color);
    transition: color .3s;
}

.hero__more:hover {
    color: var(--accent-color);
}

.hero__arrow {
    stroke: currentColor;
}

/* ===================================== */

@media(width<=1150px) {
    .header__logo {
        margin-right: 60px;
    }
}

@media(width<=992px) {
    .header__logo {
        margin-right: 30px;
    }

    .header__menu {
        gap: 20px;
    }

    .hero {
        padding-top: 70px;
    }

    .hero__container {
        flex-direction: column;
    }

    .hero__list {
        position: relative;
        left: -34%;
    }
}

@media(width<=768px) {
    .header__menu {
        position: fixed;
        top: 0;
        right: -100vw;
        bottom: 0;
        z-index: 2;
        flex-direction: column;
        align-items: flex-end;
        text-align: end;
        background: var(--bg-color);
        padding: 144px 15px 0px 0px;
        min-width: 297px;
        box-shadow: -2px 0 20px 0 #181817;
        opacity: 0;
        visibility: hidden;
        transition: right .5s, opacity .3s, visibility .3s;
    }

    .header__menu--open {
        right: 0;
        opacity: 1;
        visibility: visible;
    }

    .header__action {
        gap: 30px;
    }

    .header__controls {
        max-width: none;
        width: auto;
        gap: 60px;
    }

    .burger {
        display: block;
    }

    .burger__icon-cross {
        display: none;
    }

    .burger--open .burger__icon-cross {
        display: block;
    }

    .burger--open .burger__icon-menu {
        display: none;
    }

    .hero {
        padding-top: 71px;
    }

    .hero__list {
        font-size: 14px;
    }

    .hero__title-img {
        width: 80%;
    }
}

@media(width<=576px) {
    .header__controls {
        gap: 30px;
    }

    .hero {
        padding-top: 60px;
    }

    .hero__title {
        display: flex;
        gap: 8px;
    }

    .hero__title-accent {
        -webkit-text-stroke: 2px var(--accent-color);
    }

    .hero__list {
        left: -33%;
    }

    .hero__title-img {
        width: 90%;
    }
}