.title {
    text-align: center;
    font-size: 40px;
    position: relative;
}

.title::before {
    content: '';
    background: #ff5d5d;
    border-radius: 1000px;
    border: 2px solid #000;
    height: 40px;
    width: 40px;
    position: absolute;
    transform: translate(-50px);
}

.title::after {
    content: '';
    background: #5dd1ff;
    border-radius: 1000px;
    border: 2px solid #000;
    height: 40px;
    width: 40px;
    position: absolute;
    transform: translate(10px);
}