.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 15px;
}

/* ================================= */

.header {
    border-bottom: 1px solid #aaa8a8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.header__nav {
    display: flex;
    gap: 20px;
}

.header__nav a {
    text-decoration: underline;
}

.header__ico {
    width: 48px;
    height: 48px;
    background: #000;
}