* {
    box-sizing: border-box;
}

.parent {
    height: 700px;
    background-color: #dfdfdf;
    border: 1px solid #000;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: auto;
    padding: 10px 5px;
}

.children {
    font-size: 24px;
    width: 360px;
    background-color: #ccb97a;
    padding: 20px 30px 40px 30px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: inset 0 0 10px;
    display: inline-block;

}
