* {
    box-sizing: border-box;
}

input::placeholder {  
    font-size: 20px;  
}  

body {
    font-size: 34px;
    font-family: sans-serif;
}

h3 {
    font-size: 40px;
    margin: 0;
    margin-bottom: 15px;
    font-weight: 600;
}

.fieldset {
    display: inline-block;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 25px;
    padding-right: 100px;
}

.lable {
    display: block;
    margin-bottom: 10px;
}

.input {
    width: 100%;
    height: 32px;
    border-radius: 5px;
}

.message {
    width: 100%;
    resize: vertical;
    max-height: 250px;
    border-radius: 5px;
}

.checkbox {
    width: 24px;
    height: 24px;
}

button {
    display: block;
    font-size: 34px;
    border-radius: 5px;
    margin-top: 10px;
}
