 body {
    background: #181E34;
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #fff;
 }

 .container {
    max-width: 930px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
 }

/* =========================================================== */

.header {
    padding: 30px 0;
}

 .header-inner {
    display: flex;
    align-items: center;
 }

 .header-nav {
    margin-left: auto;
 }

 .header-list {
    display: flex;
 }

 .header-item {
    margin-right: 30px;
 }

 .header-button {
    border-radius: 100px;
    background: #fff;
    color: #2766ae;
    font-weight: 500;
    padding: 14px 30px;
 }

/* ============================================================== */

 .hero {
    background: url("../img/hero-bg.jpg") no-repeat;
    background-position: 10% 50%;
    background-size: cover;
    padding: 120px 0;
 }

 .hero-title {
    font-weight: 600;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
 }

 .hero-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .hero-text {
    max-width: 436px;
 }

 .hero-text span {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #01a2cb;
 }


.hero-p {
    margin-bottom: 15px;
}

.hero-buttons {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    width: 100%;
}

.hero-button-1 {
    background: linear-gradient(180deg, #00a4cc 0%, #2766ae 100%);
    border-radius: 100px;
    padding: 18px 30px;
    max-width: 320px;
    height: 56px;
    text-align: center;
    margin-bottom: 10px;
}

.hero-button-2 {
    background: linear-gradient(129deg, #00a4cc 0%, #2766ae 100%);
    border-radius: 100px;
    padding: 18px 30px;
    max-width: 320px;
    height: 56px;
    display: flex;
    justify-content: center;
}

.hero-button-2 img {
    margin-left: 4px;
}

/* ================================== */

.cards {
    padding: 120px 0;
}

.cards-title {
    font-weight: 600;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.cards-p {
    text-align: center;
    max-width: 513px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.cards-flex {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -28px;
    padding-bottom: 30px;
    justify-content: space-between;
}

.cards-flex p {
    text-align: center;
}

.cards-items {
    border: 2px solid #176bae;
    border-radius: 16px;
    padding: 28px;
    width: 204px;
    height: 141px;
    box-shadow: 4px 4px 13px 0 rgba(5, 13, 41, 0.76);
    background: #197cb8;
    margin-bottom: 28px;
}

.cards-items-title {
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.cards-button {
    border-radius: 100px;
    padding: 18px 30px;
    max-width: 436px;
    background: linear-gradient(180deg, #00a4cc 0%, #2766ae 100%);
    text-align: center;
    margin: 0 auto;
}

/* ===================================== */

.footer {
    border-top: 1px solid #323952;
    padding: 60px 0;
}

.footer-inner {
    display: flex;
}

.footer-inner img {
    margin-bottom: 15px;
}

.footer-text {
    max-width: 267px;
    margin-right: auto;
}

.footer-list {
    width: 204px;
}

.footer-list-margin {
    margin-right: 28px;
}

.footer-title {
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-link {
    margin-bottom: 10px;

}



